/**
*
*/
@import "variables";

@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";
@import "mixins/clearfix";
@import "mixins/visibility";

@import "utilities/display";
@import "utilities/flex";

@import "placeholder";
@import "utilities";

@import "grid";
@import "content-box";
@import "content-left";
@import "scroll-top";

body {
  color: #444;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  margin-top: 10px;
}