@import 'root.css';

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: var(--bgcolor-bar);
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding: 15px 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar li.align-right {
  float: right;
}

.navbar .active {
  background-color: #4CAF50;
}